//
// Breadcrumbs
// --------------------------------------------------

.breadcrumbs {
  background-color: $breadcrumb-bg;
  margin-bottom: $line-height-computed;
  padding-top: $breadcrumb-padding-vertical;
  padding-bottom: $breadcrumb-padding-vertical;
}

.breadcrumb {
  padding-left: $breadcrumb-padding-horizontal;
  padding-right: $breadcrumb-padding-horizontal;
  margin-bottom: 0;
  list-style: none;
  background-color: $breadcrumb-bg;

  > li {
    display: inline-block;

    + li:before {
      padding: 0 5px;
      color: $breadcrumb-color;
      // [converter] Workaround for https://github.com/sass/libsass/issues/1115
      $nbsp: "\00a0";
      content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
