{#
/**
 * @file
 * Theme override for tabs.
 *
 * @ingroup templates
 */
#}
{%
  set classes = [
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {% if content %}
      <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
        {{ content }}
      </nav>
    {% endif %}
  {% endblock %}
</div>
