{#
/**
 * @file
 * University brand banner.
 */
#}
{{ attach_library('ds_stlawu/university-brand-banner') }}
<div class="university-brand-banner">
  <div class="{{ container }}">
    <a href="http://www.stlawu.edu" title="St. Lawrence University" class="university-logo">
      <img class="university-line-logo" src="/themes/custom/ds_stlawu/images/slu-horizontal-white.png" alt="St. Lawrence University logo" height="20">
    </a>
  </div>
</div>